apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-ingress
  namespace: dev
  annotations:
    kubernetes.io/ingress.class: nginx
    # Add to generate certificates for this ingress
    kubernetes.io/tls-acme: 'true'
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: nginx-prod.eastus.cloudapp.azure.com
      http:
        paths:
          - backend:
              serviceName: nginx-service
              servicePort: 80
            path: /hello
  tls:
    # With this configuration kube-lego will generate a secret in namespace foo called `example-tls`
    # for the URL `www.example.com`
    - hosts:
        - "nginx-prod.eastus.cloudapp.azure.com"
      secretName: example-tls