apiVersion: v1
kind: Namespace
metadata:
  name: dev
---
apiVersion: v1
kind: Secret
metadata:
  name: nginx-secret
  namespace: dev
type: Opaque
data:
  azurestorageaccountname: bmdpbnh0ZXN0
  azurestorageaccountkey: NDJFSWxRYTFzSk81UisxSVNNdEFPaXl3WGNDNk1Sc3Erdjh4MWd2R0Nkb3UySW8xK2NFTUFjQkh0UFpqd2hhYUZqY1NEZ25wdTh4dDVuOXF2cTA5TFE9PQ==
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nginx-storageclass
  namespace: dev
provisioner: kubernetes.io/azure-file
parameters:
  storageAccount: nginxtest
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nginx-pv
  namespace: dev
  labels: 
    volume: PersistentVolume
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteMany
  storageClassName: nginx-storageclass
  azureFile:
    secretName: nginx-secret
    shareName: nginxtest
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginx-pvc
  namespace: dev
spec:
  accessModes:
    - ReadWriteMany  
  resources:
    requests:
      storage: 500Mi
  storageClassName: nginx-storageclass # from where ?
  volumeName: nginx-pv