apiVersion: v1
kind: Namespace
metadata:
  name: dev
---
apiVersion: v1
kind: Secret
metadata:
  name: nginx-secret
  namespace: dev
type: Opaque
data:
  azurestorageaccountname: bmdpbnhwZXJzaXN0ZW50dm9sdW1l
  azurestorageaccountkey: Qkl4QXdOSk1BUUY4R3BFUHFMMjduY2lwQ3ZJeUQzVk1hM2JyeVRWaUhDVkVPT3RRMlVBMUZyQVpQcnhpOUlLZGpCNGp1MEIvNzJTWk5qUVRYdFBtY0E9PQ==
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nginx-storageclass
  namespace: dev
provisioner: kubernetes.io/azure-file
parameters:
  storageAccount: nginxpersistentvolume
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nginx-pv
  namespace: dev
  labels: 
    volume: PersistentVolume
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteMany
  storageClassName: nginx-storageclass
  azureFile:
    secretName: nginx-secret
    shareName: nginxtest
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginx-pvc
  namespace: dev
spec:
  accessModes:
    - ReadWriteMany  
  resources:
    requests:
      storage: 500Mi
  storageClassName: nginx-storageclass # from where ?
  volumeName: nginx-pv