apiVersion: v1
kind: Secret
metadata:
  name: static-persistence-secret
type: Opaque
data:
  azurestorageaccountname: bmdpbnhwZXJzaXN0ZW50dm9sdW1l
  azurestorageaccountkey: ejdYNElWcW5NVjlRZUdhOFVPWENqeTFkTmdmNzdNcUU5M2UrZllBTkJVbCtiazgwQnFLelE4NERxS3UxV1V2bmVHLzI1VVRWNlBCdjI2dlR3bE5jZ2c9PQ==
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: azurefilestorage
provisioner: kubernetes.io/azure-file
parameters:
  storageAccount: nginxtest
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: static-persistence-volume
  labels: 
    storage: slow
spec:
  capacity:
    storage: 10M
  accessModes:
  - ReadWriteOnce
  storageClassName: azurefilestorage
  azureFile:
    secretName: static-persistence-secret
    shareName: nginxtest
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: static-persistence-volume-claim 
spec:
  accessModes:
    - ReadWriteMany  
  resources:
    requests:
      storage: 20M
  storageClassName: azurefilestorage # from where ?