apiVersion: v1
kind: Secret
metadata:
  name: static-persistence-secret
  namespace: dev
type: Opaque
data:
  azurestorageaccountname: bmdpbnh0ZXN0
  azurestorageaccountkey: dDUvNlYrZmxzd0hJMncwcXJiVHlMVFZrNWs0Q3ZzSFZtbjdSbDRKMVZEV1BYOFpjeUtHKzVsV01JNTIxdTZXSFlpMEE3V1pPSE90ekd6ZktVYTFoeHc9PQ==
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: azurefilestorage
  namespace: dev
provisioner: kubernetes.io/azure-file
parameters:
  storageAccount: nginxtest
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: static-persistence-volume
  namespace: dev
  labels: 
    volume: PersistentVolume
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteOnce
  storageClassName: azurefilestorage
  azureFile:
    secretName: static-persistence-secret
    shareName: nginxtest
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: static-persistence-volume-claim 
  namespace: dev
spec:
  accessModes:
    - ReadWriteMany  
  resources:
    requests:
      storage: 500Mi
  storageClassName: azurefilestorage # from where ?
  volumeName: static-persistence-volume